*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 720px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner{
  position: relative;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.front-face{
  backface-visibility: hidden;
}

.front-face img{
  width: 100%;
  border-radius: 10px;
}

.back-face{
  backface-visibility: hidden;
  background: #c62600;
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  /* display: flex; */
  text-align: center;
  transform: rotateY(180deg);
}

.back-face h2{
  font-size: 40px;
  margin: 25px;
  font-weight: 600;
  top: 25%;
}

.back-face p{
  font-size: 18px;
  font-weight: 300;
  margin: 0px 20px;
}

.social i{
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background: #e43a00;
  border-radius: 50%;
  margin: 25px 6px;
}

.card:hover .card-inner{
  transform: rotateY(180deg);
}
