body{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Monsterrat',sans-serif;
}
.container{
    padding: 7px;
    margin: 240px auto;
    width: 70%;
    border: 2px solid white;
    border-radius: 5px;
}
p{
    color: white; 
    text-align: center;
    line-height: 1.5;
}
.effect{
    background-image: linear-gradient(90deg,red,blue);
    background-size: 0% 4px;
    background-repeat: no-repeat;
    background-position: left bottom;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: background-size 300ms linear;
}
.effect:hover{
    background-size: 100% 4px;
}