*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.cube{
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%
    {
       transform: rotateX(-30deg) rotateY(0deg); 
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, red);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: black;
    transform: rotateX(90deg) translateZ(150px);
}
.top::before{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: black;
    transform: translateZ(-500px);
    filter: blur(30px);
    box-shadow: 0 0 120px rgba(255, 0, 0, 0.2),
    0 0 200px rgba(255, 0, 0, 0.4),
    0 0 300px rgba(255, 0, 0, 0.6)
    0 0 400px rgba(255, 0, 0, 0.8)
    0 0 500px rgba(255, 0, 0, 1.0);
}