body{
    background-color: #121212;
}
.facility {
	display: flex;
	margin-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

.fac-card {
	position: relative;
	width: 25%;
	height: 50%;
	float: right;
	margin: 60px auto;
	box-shadow: 15px 15px 10px rgb(0 0 0);
	transition: 0.25s;
	padding: 2.08%;
	margin-right: 2.5%;
	margin-left: 1.5%;
	margin-top: 5%;
	margin-bottom: 15%;
	text-align: center;
}
.fac-card .fac-image {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.fac-card .fac-image img {
	width: 100%;
	transition: 0.5s;
}

.fac-card:hover .fac-image img {
	opacity: 0.4;
	transform: translateX(30%); /*100%*/
}
.fac-card .fac-details {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%; /*100%*/
	height: 100%;
	background: #00ff88;
	transition: 0.5s;
	transform-origin: left;
	transform: perspective(2000px) rotateY(-90deg);
}
.fac-card:hover .fac-details {
	transform: perspective(2000px) rotateY(0deg);
}
.fac-card .fac-details .fac-content {
	padding: 20px;
	text-align: center;
	background: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.fac-card .fac-details .fac-content h1 {
	margin: 0;
	padding: 0;
	color: #00113f;
	line-height: 20px;
	font-size: x-large;
	font-weight: 900;
	text-transform: uppercase;
}
.fac-card .fac-details .fac-content h1 span {
	font-size: large;
	color: #262626;
	font-weight: 700;
}
.fac-card .fac-details .fac-content p {
	margin: 2% 0;
	padding: 0;
	color: #262626;
	font-weight: 600;
	font-size: large;
}

@media (max-width: 1100px) {
	.fac-card .fac-details .fac-content h1 {
		font-size: 2.2rem;
	}
	.fac-card {
		width: 50%;
		float: inherit;
		margin: 0 auto;
		margin-bottom: 7%;
		margin-top: 5%;
	}

	.fac-card .fac-details .fac-content h1 span {
		font-size: 1.2rem;
	}
	.fac-card .fac-details .fac-content p {
		font-size: 1rem;
	}
}

@media (max-width: 700px) {
	.div-facility {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1%;
	}
	.fac-card {
		width: 50%;
	}
	.fac-card .fac-details .fac-content h1 {
		font-size: 1.5rem;
	}
	.fac-card .fac-details .fac-content h1 span {
		font-size: 1.2rem;
	}
	.fac-card .fac-details .fac-content p {
		font-size: 0.9rem;
	}
}

@media (max-width: 660px) {
	.fac-card {
		width: 75%;
	}
	.fac-card .fac-details .fac-content h1 {
		font-size: 1.2rem;
	}
	.fac-card .fac-details .fac-content h1 span {
		font-size: 1rem;
	}
	.fac-card .fac-details .fac-content p {
		font-size: 0.8rem;
	}
}

@media (max-width: 395px) {
	.fac-card .fac-details .fac-content h1 {
		font-size: 1rem;
	}
	.fac-card .fac-details .fac-content h1 span {
		font-size: 0.9rem;
	}
	.fac-card .fac-details .fac-content p {
		font-size: 0.7rem;
	}
}

@media (max-width: 360px) {
	.fac-card .fac-details .fac-content h1 {
		font-size: 0.9rem;
	}
	.fac-card .fac-details .fac-content h1 span {
		font-size: 0.75rem;
	}
	.fac-card .fac-details .fac-content p {
		font-size: 0.6rem;
	}
}

@media (max-width: 320px) {
	.fac-card .fac-details .fac-content h1 {
		font-size: 0.8rem;
	}
	.fac-card .fac-details .fac-content h1 span {
		font-size: 0.65rem;
	}
	.fac-card .fac-details .fac-content p {
		font-size: 0.5rem;
	}
}