@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: auto;
  background-color: rgb(19, 24, 44);
}
/* heading */
h1 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 15px 20px;
  position: relative;
}
h1:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
h1:hover:after {
  width: 100%;
  left: 0;
}

.styles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 4vmin;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.stylebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(245, 217, 217);
  padding: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 20rem;
  justify-content: center;
  transition: 0.2s;
}
.stylebox:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  -moz-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
}
.stylebox .image {
  width: 20rem;
  height: 13rem;
}
.stylebox .image img {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  image-rendering: pixelated;
}
.stylebox p {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.stylebox .btn-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.stylebox a {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1vmin;
  font-size: 1.2rem;
  background-color: rgb(89, 0, 131);
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
  width: 100%;
}
.stylebox a.code {
  background-color: rgb(47, 128, 0);
}
.stylebox a.code:hover {
  background-color: rgb(39, 105, 0);
}
a:hover {
  background-color: rgb(44, 1, 65);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .styles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4vmin;
  }
  .stylebox {
    padding: 0.5rem;
    margin: auto;
    width: 18rem;
    margin-bottom: 1.5rem;
  }
  .stylebox .image {
    width: 18rem;
    height: 12rem;
    border-radius: 0.5rem;
  }
}

/* scroll top starts */
#scroll-top {
  position: fixed;
  bottom: -140%;
  right: 1rem;
  padding: 0.6rem 1rem;
  font-size: 2rem;
  background: #00ff37;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
  text-decoration: none;
}
#scroll-top:hover {
  -webkit-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  -moz-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
}
#scroll-top.active {
  bottom: calc(100% - 36rem);
}
/* scroll top ends */

/* CSS for NavBar starts */
.topnav {
  background-color: rgb(19, 24, 44);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* CSS for NavBar end */

/* styles for footer */

* {
  text-decoration: none;
}

footer {
  width: 100%;
  font-family: "Poppins", sans-serif;
  bottom: 0;
  left: 0;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: #fff;
}
footer .content .box {
  width: 30%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: justify;
}

footer .content .middle {
  text-align: left;
}
footer .content .middle a {
  line-height: 32px;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #00ff37;
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color: #00ff37;
}

footer .bottom p {
  text-align: center;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #00ff37;
  background-color: #13182c;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}

/* styles for footer ends */
