@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat:wght@400;500&family=Space+Mono:wght@400;700&display=swap');

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: auto;
  background-color: rgb(19, 24, 44);
}
/* heading */
h1 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 15px 20px;
  position: relative;
}
h1:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
h1:hover:after {
  width: 100%;
  left: 0;
}

.styles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 4vmin;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.stylebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(245, 217, 217);
  padding: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 20rem;
  justify-content: center;
  transition: 0.2s;
}
.stylebox:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  -moz-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
}
.stylebox .image {
  width: 18rem;
  height: 13rem;
}
.stylebox .image img {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  image-rendering: pixelated;
}
.stylebox p {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.stylebox .btn-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.stylebox a {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1vmin;
  font-size: 1.2rem;
  background-color: rgb(89, 0, 131);
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
  width: 100%;
}
.stylebox a.code {
  background-color: rgb(47, 128, 0);
}
.stylebox a.code:hover {
  background-color: rgb(39, 105, 0);
}
a:hover {
  cursor: pointer;
}
.heading{
  margin: 1em 0 0 0;
}

@media only screen and (max-width: 600px) {
  .styles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4vmin;
  }
  .stylebox {
    padding: 0.5rem;
    margin: auto;
    width: 18rem;
    margin-bottom: 1.5rem;
  }
  .stylebox .image {
    width: 17rem;
    height: 12rem;
    border-radius: 0.5rem;
  }
}

/* SCROLL-TO-TOP BUTTON STARTS */
#scroll-top {
  position: fixed;
  bottom: -140%;
  right: 2rem;
  padding: 0.85rem 1rem;
  border-radius: 50%;

  font-size: 1.38rem;
  background: #fff;
  color: rgb(19, 24, 44);
  
  z-index: 1000;
  text-decoration: none;
  transition: 1s linear;

  -webkit-box-shadow: 0 0 10px 2px rgba(5, 3, 22, 0.45);
  -moz-box-shadow: 0 0 10px 2px rgba(210, 207, 236, 0.45);
  box-shadow: 0 0 10px 2px rgba(210, 207, 236, 0.45);
}
#scroll-top:hover {
  transform: translateY(-5px);
  transition: transform 0.15s linear;

  -webkit-box-shadow: 0 0 10px 2px rgba(210, 207, 236, 0.75);
  -moz-box-shadow: 0 0 10px 2px rgba(210, 207, 236, 0.75);
  box-shadow: 0 0 10px 2px rgba(210, 207, 236, 0.75);
}
#scroll-top.active {
  bottom: calc(100% - 40rem);
}
/* SCROLL-TO-TOP BUTTON ENDS */

/* CSS for NavBar starts */
/* 
.topnav {
  background-color: rgb(19, 24, 44);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
} 


 @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }

 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
  background-color: #13182c;
  color: #fff;
 }
 .nav-links a {
  color: #fff;
 }
 .logo img{
   width: 7em;
 }

 .menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
  font-family: 'Space Mono';
 }

 .menu li:hover {
  background-color: #fff;
  
  transition: 0.3s ease;
 }
 a:hover{
   color: #1d1d1d;
 }

 .menu li {
  padding: 5px 14px;
 }
 .menu li:before{
  content: " ";
}

 input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }



 @media (max-width: 768px) {
   
  .menu { 
   display:none;
   position: absolute;
   background: #13182c ;
   right: 0;
   left: 0;
   height: 92vh;
   text-align: center;
   padding: 96px 0;
   z-index: 1000;
   top: 20vh;
  }
  
  .menu li:hover {
   display: inline-block;
   background-color:#fff;
   transition: 0.3s ease;
  }
  .menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
   display: block;
  }
  .hamburger {
   display: block;
   
  }
}

/* CSS for NavBar end */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #101522;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #040919;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f82249;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #f82249;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #f82249;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f82249;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f82249;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #e0072f;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

