*{
	box-sizing: border-box;
	padding: 0;
}

.rect{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 220px;
	justify-content: space-evenly;
	border-radius: 8px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	padding: lrem;
	transform: translate(-50%,-50%);
}

.rect::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; 
	z-index: -1;
	opacity: 0.1;
}

.box{
	width: 100%;
	height: 140px;
	padding: 1.5rem 0;
}

.chipset{
	position: relative;
	margin-left: 1.3rem;
	width: 60px;
	height: 40px;
	background: linear-gradient(35deg,#ffdd00,#fbb034);
	border-radius: 5px;
	overflow: hidden;
}

.chipset::before,.chipset::after{
	content: "";
	position: absolute;
	height: 20px;
	top: 25%;
	left: -5px;
	width: 65px;
	border: 1px solid grey;
}

.chipset::after{
	top: 25%;
	left: 11px;
	width: 36px;
	border-radius: 8px;
	transform: rotate(90deg);
	background: linear-gradient(-60deg , #ffdd00 , #fbb034);
}

#code{
	margin-left: 0.8rem;
	font-size: 1.5rem;
	font-weight: 600;
	font-family: "Poppins",sans-serif;
}

#code span{
	margin-left: 0.8rem;
}

.info{
	position: relative;
}

.brand{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

.brand span{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.brand span:nth-child(1){
	position: relative;
	left: 20px;
	background: #ff5f00;
	opacity: 0.7;
}

#name{
	margin-left: 1.3rem;
	font-weight: 600;
	font-family: "Courier New",sans-serif;
	font-size: 1.5rem;
	color: #000;
}
