@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: inline-block;
    overflow: hidden;
    min-height: 80vh;
    margin-left:30%;
    margin-right:30%;
    margin-top:15px;
    background-color: rgba(250,245,239,255);
     
}

.container{
    background-color: rgba(251,245,238,255);
    border:solid 8px #dbcec4;
    border-inline-style:inherit;
    border-radius:15px;
}

.container .card{
    margin:8px;
    position: relative;
    display: flex;
    width: 400px;
    height: 120px;
    background-color: rgba(250,245,239,255);
    border-radius: 10px;
    backdrop-filter: blur(0px); background-color: rgba(255, 255, 255, 1); border-radius: 20px; box-shadow: 35px 35px 68px 0px rgba(151, 133, 121, 0.5), inset -0px -0px 16px 0px rgba(151, 133, 121, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    overflow: hidden;
    
}

.container .card .imgBox{
    position: relative;
    width:90%;
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
    clip-path: ellipse(130px 140px at 10% 20%);
}

.container .card .imgBox img{
    position: absolute;
    /* top: 12px; */
    bottom:0;
    /* left: 12px; */
    object-fit: cover;
    overflow: hidden;
}

.container .card .content{
    width:100%;
    display: flex;
    padding:30px 20px;
    place-items:center;
}

.container .card .content h3{
    font-weight: 600;
    text-align: center;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    color:#559da1;
}

.container .card .content h3 span{
    text-transform: inherit;
    color:#978579;
    font-size: 0.8rem;
    font-weight: 500;
}

.container .card .content .icons{
    position:relative;
    display:flex;
    margin-top:15px;
}
.container .card .content .icons li{
    list-style-type:none;
    margin-left:10px;
}

.container .card .content .icons li a{
    width: 121%;
    height:40px;
    position: relative;
    display: grid;
    margin:0 8px;
    text-align: center;
    place-items: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
    color:#975b3e;
    font-size:1rem;
    border-radius:10px;
    box-shadow: 5px 5px 10px #cecdcb,
    -2px -2px 5px #cecdcb,
    inset -2px -2px 5px #cecdcb;
}


/* Blob Added Start*/
.shape-blob {
    background-color:#559da1;
    z-index: -1;
	height: 200px;
	width: 200px;
	border-radius: 30% 50% 20% 40%;
  	animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 70%;
	top: 50%;
}
.shape-blob.one{
    z-index: -1;
	height: 500px;
	width: 500px;
	left: -200px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

.shape-blob.two{
    z-index: -1;
	height: 350px;
	width: 350px;
	left: 50%;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}
/* Blob Added End */

/* Responsive */
@media screen and (max-width: 400px) {
    body{
        margin-left:40%;
    }  
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    body{
        margin-top:10%;
    }
  }
@media screen and (max-width: 500px){
    body{
        margin-top:20%;
    }
  }