@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
:root {
  font-size: 62.5%;
  --black: rgb(14, 12, 12);
  --blue:#1a2f3f;
  --lightblue:#7094ce;
  --darkblue:rgba(0,0,0,0.15);
  --aliceblue:#f0f8ff;
  --lightyellow:#e5aa1d;
  --darkblack:#0c0200;
  --white:#ffff;
}
body {
  background: var(--black);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin: 0 auto; */
  width: 100vw;
}
/* .container .card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60rem;
  height: 35rem;
  margin: 2rem;
  background: rgb(82, 13, 13);
   background: linear-gradient(45deg,#1a2f3f,#7094ce);
  } */
  .container .card{
    height:270px;
    min-width: 250px;
    width:470px;
    background: linear-gradient(45deg,var(--blue),var(--lightblue));
    box-shadow: var(--darkblue) 0px 5px 15px 0px;
    position: relative;
    border-radius: 20px;
    padding-left: 20px;
    color:var(--aliceblue);
    margin: 0 auto;
   
  }
/* .container .card img {
  position: absolute;
  bottom: 0;
  left: 13vw;
  height: 40rem;
  transition: 0.7s;
} */
.container .card img{
  height: 370px;
  max-width:100%;
   position: absolute;
  top:30%;
  left:50%; 
transform: translate(-50%,-50%);
transition: 0.2s;
}
.container .card h2{
  font-size: 15px;
  margin-top: 20px;
  color:var(--lightyellow);
  transition: 0.2s;
}
.container .card p,a{
  font-family: "Source Sans Pro",sans-serif;
  transition: 0.2s;
  opacity: 0;
}
.container .card p{
  width:200px;
  margin-bottom: 25px;
}
.container .card a{
  text-decoration: none;
  text-transform: uppercase;
  color:var(--darkblack);
  background-color: var(--lightyellow);
  padding:5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.container .card a:hover{
  color:var(--darkblack);
  background-color: var(--white);
}
.container .card:hover img{
  left:82%;
  top:30%;
  height:400px;
}
.container .card:hover h2{
  font-size: 25px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.container .card:hover p,.container .card:hover a{
opacity:1;
}


/* .container .card:hover img {
  left: 48%;
  height: 47rem;
}
.container .card .content {
  opacity: 0;
  visibility: hidden;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 2.5rem 2rem 2rem 4rem;
  left: 25%;
  transition: 0.7s;
}
.container .card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.container .card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1em;
}
.container .card .content p {
  color: #fff;
  text-decoration: none;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.container .card .content a {
  position: relative;
  color: #111;
  background: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 1252px) {
  .container .card {
    width: 50%;
    max-width: 60rem;
    align-items: flex-start;
  }
  .container .card .content {
    padding-right: 0.5rem;
    width: 54%;
  }
  .container .card .content h2 {
    font-size: 2.5rem;
  }
  .container .card .content p {
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }
  .container .card img {
    left: 12vw;
    height: 40rem;
  }
  .container .card:nth-child(2) img {
    left: 11vw;
  }
  .container .card:hover img {
    left: 47%;
    height: 40rem;
  }
} */



/* @media (max-width: 1252px) {
  .container .card {
    width: 50%;
    max-width: 60rem;
    align-items: flex-start;
  }
  .container .card .content {
    padding-right: 0.5rem;
    width: 54%;
  }
  .container .card .content h2 {
    font-size: 2.5rem;
  }
  .container .card .content p {
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }
  .container .card img {
    left: 12vw;
    height: 40rem;
  }
  .container .card:nth-child(2) img {
    left: 11vw;
  }
  .container .card:hover img {
    left: 47%;
    height: 40rem;
  }
}  */

 /* @media (max-width: 1080px) {
  .container .card {
    width: 50%;
    justify-content: flex-start;
    transition: 0.7s;
  }
  .container .card:hover {
    height: 50rem;
  }
  .container .card .content {
    width: 100%;
    padding: 3rem;
    left: 0;
  }
  .container .card .content p {
    margin-bottom: 2.5rem;
  }
  .container .card img {
    left: 11vw;
  }
  /* .container .card:nth-child(2) img {
    left: 8vw;
  } */
   /* .container .card:hover img {
    left: 30%;
    height: 30rem;
    padding-bottom: 1rem;
  } */
/* }  */ 

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    padding: 8rem;
    width: 100vw;
  }
  .container .card {
    /* width: 100%;
    margin-bottom: 10rem; */
    /* I am changing */
    /* height:270px;
    min-width: 250px; */
    width:537px;
    margin:88px;
    /* background: linear-gradient(45deg,#1a2f3f,#7094ce);
    box-shadow: rgba(0,0,0,0.15) 0px 5px 15px 0px;
    position: relative;
    border-radius: 20px;
    padding-left: 20px;
    color:aliceblue; */

  }
  .container .card .content h2 {
    font-size: 3rem;
  }
  .container .card img {
    /* height: 42rem;
    left: 57vw; */
    /* I am changing */
    /* height: 370px;
    max-width:100%;
     position: absolute; */
    top:19%;
    left:68%; 
  /* transform: translate(-50%,-50%);
  transition: 0.2s; */
  }
  .container .card:hover img {
    height: 32rem;
    /* left: 17vw; */
  }
}
.container .card  .content p {
  width: 58%;
  font-size: 15px;
}
@media (max-width:700px){
  .container .card:hover img{
    left:83%;
  }
  .container .card  .content p {
    width: 55%;
    font-size: 15px;
  }
}

@media (max-width: 520px) {
  .container .card {
    /* margin: 0;
    margin-bottom: 3rem; */
    width:100%;
    margin-left: 10px;
    margin-right: 40px;
  }
  .container .card img {
    height: 33rem;
    left: 87%;
  }
  .container .card .content h2 {
    font-size: 1.5rem;
  }
  .container .card .content p {
    font-size: 1.4rem;
  }
  .container .card:hover img {
    height: 37rem;
    left: 95%;
  }
  .container .card:hover {
    height: 35rem;
  }
}

@media screen and (max-width:410px){
  .container .card {
    width: 90vw;
    margin-left: 25px;
  }
  .container .card img{
    /* height: 33rem; */
    left: 70%;
  }
  .container .card:hover img{
    left:88%;
  }
}
@media screen and (max-width:350px){
  .container .card img{
    height: 27rem;
    top:30%;
    left: 80% ;
  }
  .container .card:hover img{
    height: 30rem;
    top:40%;
  }
}