*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    background: #222;
}
body.on
{
    background: radial-gradient(#555,#111)
}
.bulb
{
position: relative;
width: 80px;
height: 80px;
background: #444;
border-radius: 50%;
z-index: 2;
}
body.on .bulb{
background: #fff;
    box-shadow: 0 0 50px #fff;
    0 0 100px #fff;
    0 0 150px #fff;
    0 0 200px #fff;
    0 0 250px #fff;
    0 0 300px #fff;
    0 0 350px #000;
}
.bulb::before{
    content: '';
    position: absolute;
    left: 22.5px;
    top: -50px;
    width: 35px;
    height: 80px;
    background: #444;
    border-top: 30px solid #000;
    border-radius: 10px;
}
body.on .bulb::before{
        background: #fff;

}
body.on .bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    filter: blur(40px);
}
.bulb span:nth-child(1){
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
top: -16px;
    left: -4px;
}

body.on .bulb span:nth-child(1){
        box-shadow: 20px 20px 0 10px #fff;

}
.bulb span:nth-child(2){
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
    top: -16px;
    right: -5px;
}
body.on .bulb span:nth-child(2){
        box-shadow: -20px 20px 0 10px #fff;

}
.wire{
    position: absolute;
    width: 4px;
    height: 60vh;
    background: #000;
    left: calc(50% - 2px);
    bottom: 50%;
    z-index: 1;
}


.switch{
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(#eee,#ccc,#eee);
    bottom: 55px;
    right: 50px;
    border: 3px solid #000;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center; 
}

.switch .btn
{
position: relative;
    width: 25px;
    height: 40px;
    background: linear-gradient(#777, #fff, #777);
    border-radius: 6px;
    border: 2px solid #000;
    cursor: pointer;
}

.switch .btn::before{
content : '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background: linear-gradient(#fff,#fff);
    border-radius: 4px;
}
.on .switch .btn::before
{
top: 15%;
}



#audio{
    display: none;
}


