* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.loader {
    position: relative;
    width: 400px;
    height: 400px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    width: 300px;
    height: 400px;
    border: 2px solid #191919;
    border-radius: 50%;
    animation: animate 10s linear infinite;
}

.circle2 {
    width: 200px;
    height: 300px;
    animation: animate 6s linear infinite;
}

.circle3 {
    width: 100px;
    height: 200px;
    animation: animate 2s linear infinite;
}



@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
}