body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  font-size: 30px;
  font-family: sans-serif;
}
.loader {
  display: flex;
  align-items: flex-end;
  transform: translateY(-35px);
}
.loader span {
  width: 20px;
  height: 20px;
  background: #111;
  margin: 0 10px;
  height: calc(20px * var(--i));
  /* ye baat samaj nai aaiiiiiii */

  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.25s * var(--i));
}
@keyframes animate {
  0% {
    background: #fff;
    filter: blur(2px);
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 400px #00b3ff;
  }
  25%,
  75% {
    background: #111;
    filter: blur(0px);
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 400px #00b3ff;
  }
  100% {
    background: #fff;
    filter: blur(2px);
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 400px #00b3ff;
  }
}

.loader span i {
  display: block;
  /* font-style:; */
  color: #fff;
  font-weight: bold;
  transform: translateY(70px);
  animation: animate2 2s linear infinite;
  animation-delay: calc(0.25s * var(--i));
}

@keyframes animate2 {
  0% {
    colro: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 400px #00b3ff;
  }
  25%,
  75% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 400px #00b3ff;
  }
}
