body
{
	margin : 0 ;
	padding: 0;
}

section
{
	height: 100vh;
	background: #000;
	 overflow: hidden;
}

   height:150vh;
}
video{
    object-fit: scale-down;
}
h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 5em;  
    font-family:sans-serif;
    text-transform: uppercase;
} 
h1 span{
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: red(10px)
    }
  
        100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter:blur(0)
    }
}
h1 span:nth-child(1){
    color:#186aa0;
    opacity: 0;
    animation-delay: 1s;
}
h1 span:nth-child(2){
    opacity: 0;
    animation-delay: 2.5s;
}
h1 span:nth-child(3){
    opacity: 0;
    animation-delay: 2.75s;
}
h1 span:nth-child(4){
    opacity: 0;
    animation-delay: 3s;
}
h1 span:nth-child(5){
    color:#186aa0;
    opacity: 0;
    animation-delay: 3.5s;
}
h1 span:nth-child(6){
    opacity: 0;
    animation-delay: 3.75s;
}
h1 span:nth-child(7){
    opacity: 0;
    animation-delay: 4s;
}
h1 span:nth-child(8){
    opacity: 0;
    animation-delay: 4.5s;
}
h1 span:nth-child(9){
    opacity: 0;
    animation-delay: 4.75s;
}

h1 span:nth-child(10){
    opacity: 0;
    animation-delay: 5.0s;
}