.about{
    margin-top:600px;
  }
  * {
    margin: 0;
    padding: 0px;
  }
  
  body {
    background-color: white;
  }
  .content {
    width: 25%;
    box-shadow: 1px 1px 10px 2px rgba(17, 28, 72, 0.76);
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    background-color: white;
  }
  .header {
    background: #000080;
    color: white;
    padding: 15px 0px;
    font-size: 1rem;
  }
  
  .movingbody {
    padding: 4px;
    height: 300px;
  }
  .m-par {
    text-align: center;
    padding: 6px;
    border-bottom: 1px solid #afafaf;
    font-size:15px;
  }
  