body{
    padding:0;
    margin:0;
    }
    
    .face{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:200px;
    height:200px;
    background: #fffb53;
    border-radius:50%;
    border: 2px solid #442200;
     box-shadow: 5px 10px 18px #888888;
    }
    
    .eyes:before, 
    .eyes:after{
    content: '';
    position: absolute;
    top:30%;
    width: 25px;
    height:25px;
    border-radius: 50%;
    background: #442200;
    transition: .5s;
    }
    
    .eyes:before{
    left: 25%
    }
    .eyes:after{
    right:25%
    }
    .face:hover .eyes:before,
    .face:hover .eyes:after
    {
    width: 30px;
    height: 45px;
    }
    .lips{
    position: absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    width:100px;
    height:100px;
    border:10px solid transparent;
    border-bottom: 10px solid #442200;
    border-radius: 0;
    transition:.5s;
    }
    .face:hover .lips{
    width:130px;
    border-radius:50%;
    }