body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#network {
    display: block;
    background-color: rgba(0, 0, 0, 0.180);
}