                body {
                margin: 0;
                padding: 0;
            }
            
            .loading-screen {
                width: 100%;
                height: 100vh;
                background: #a7b80e;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9999;
                display: flex;
                align-items: center
            }
            
            .loading-screen::before {
                content: "";
                position: absolute;
                width: 80px;
                height: 80px;
                background: #129e19;
                left: 20%;
                transform: translateX(-50%) rotate(0);
                border-radius: 20px;
                animation: loading 4s infinite linear;
            }
            
            @keyframes loading {
                from {
                    transform: translate(-50%) rotate(0deg);
                }
                50% {
                    left: 80%;
                    to {
                        transform: translate(-50%) rotate(1440deg);
                    }
                }