@import url("https://fonts.googleapis.com/css?family=Merienda+One");

html{
 	background-color: #000;
	background-image: url(https://images.unsplash.com/photo-1531972497489-8eb337acf6e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=193456e9385b553747a5e0f0cbc7badb&auto=format&fit=crop&w=1334&q=80);
  	background-size: cover;
  	height: 100%;
  	background-repeat: no-repeat;
}
body,
.more-snow::before,.more-snow::after{
    content: "";
    position: fixed;
    top: -3000%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(black, 0.01);
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 30%;
    animation-name: MOVE-BG;
    animation-duration: 600s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }
body::before {
    filter: blur(6px);
    opacity: 0.8;
 }
 body::after {
    filter: blur(1px);
    top: -1500%;
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 90%;
    animation-duration: 500s;
 }
.more-snow::before {
    filter: blur(4px);
    opacity: 0.8;
    top: -2500%;
    background-size: 60%;
    animation-duration: 1500s;
 }
 .more-snow::after {
    filter: blur(2px);
    opacity: 0.8;
    top: -2000%;
    background-image: url(https://laviwebfiles.com/stage/codepen/4-2-white-snow-png.png);
    background-size: 70%;
    animation-duration: 1400s;
}

@keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}