*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}   
.hero{
    width:100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px; ;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
button {
    color: #020101;
    padding: 15px 22px;
    background: transparent;
    border-radius: 39px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background-color: #f1f3f3;
    color: #000000;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;    
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;

}
.side-bar{
    width: 50px;
    height:100vh;
    background: linear-gradient(#00545d ,#000729);
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}
.social-links img{
   width: 30px;
   margin: 5px auto;
   cursor: pointer;
}
.social-links img:hover{
    border: 1px solid #f1f3f3;
    border-radius: 50%;
}
.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} 
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
} 
.useful-links img{
    width: 30px;
    margin: 5px auto;
    cursor: pointer;
}
.useful-links img:hover{
    border: 1px solid #f1f3f3;
    border-radius: 50%;
}
.bubbles img{
    width: 50px;
    animation: bubbles 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubbles{
    0%{
        transform : translateY(0);
        opacity: 0;
    }
    50%{
       
        opacity: 1;
    }
    70%{
       opacity: 1;
    }
    100%{
        transform : translateY(-80vh);
        opacity: 0;
    }

}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 30px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 50px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 25px;
}
.bubbles img:nth-child(5){
    animation-delay: 5s;
    width: 60px;
}
.bubbles img:nth-child(6){
    animation-delay: 2.5s;
    width: 50px;
}
.bubbles img:nth-child(7){
    animation-delay: 5.5s;
    width: 15px;
}
