body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(7, 7, 7);
    
}

/* Basic styling, putting the items in a single row */

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    width: 100px;
    text-align: center;
}

ul li label {
    position: relative;
}



/* Styling the checkboxe and the icons*/

ul li label i, ul li label input[type="checkbox"] {
    display: block;
    text-align: center;
}

ul li label i.fa{ 
    font-size: 25px;
    color: #222;
    transition: 0.05s;
    z-index: 10;
    color: #111;
}

ul li label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}


/* Creating the circular button in span */

ul li label .check {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: linear-gradient(#000, #333 );
    border-radius: 50%;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


/* styling the small circle within the button*/ 

ul li label .check:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1b1b1b;
    transition: 0.5s;
    z-index: 5;
}


/* styling the medium circle within the button*/ 

ul li label .check:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #222;
    border-radius: 50%;
    z-index: 3;
    border: 2px solid #161616;
}

/* Adding the glow effect, once checked */

ul li label input[type="checkbox"]:checked ~ .check:before {
    background: rgba(0,176,255,1);
    box-shadow: 0 0 10px rgba(0,176,255,1), 0 0 15px rgba(0,176,255,1),0 0 20px rgba(0,176,255,1), 0 0 25px rgba(0,176,255,1),0 0 30px rgba(0,176,255,1),0 0 35px rgba(0,176,255,1);

}

ul li label input[type="checkbox"]:checked ~ i.fa {
    color: rgba(0,176,255,1);   
}