body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
  }
  
  h1 {
    color: #fff;
    position: relative;
    margin: 0;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    overflow: hidden;
  }
  
  h1::before {
    content: "";
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 4.5s linear forwards;
  }
  
  @keyframes animate {
    0% {
      left: 100%;
    }
  
    100% {
      left: -20%;
    }
  }
  
  h1 span {
    color: #FF7A19;
  }
  