body {
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100vh;
  }
  
  .basketball {
    position: relative;
    top: 50px;
    left:-50px;
  }
  
  .ball {
    position: absolute;
    background-color: #e76f51;
    border-radius:50%;
    width:100px;
    height:100px;
    overflow: hidden;
    border: 3px solid #333;
    animation: bounce 2s ease-in infinite;
  }
  
  @keyframes bounce {
     0% {transform: translate3d(0, 0, 0) rotate(0deg);}
    25% {transform: translate3d(0, -200px, 0) rotate(90deg);}
    50% {transform: translate3d(0, 0, 0) rotate(180deg);}
    75% {transform: translate3d(0, -200px, 0) rotate(270deg);}
    100% {transform: translate3d(0, 0, 0) rotate(360deg);}
  }
  
  .ball:before, .ball:after {
    content:"";
    position: absolute;
    background-color: #333;
    width:110px;
    height:3px;
    top:50px;
    left:-5px;
  }
  
  .ball:before {
    transform: rotate(45deg);
  }
  
  .ball:after {
    transform: rotate(-45deg);
  }
  
  .lines {
    position: absolute;
    border-radius:50%;
    border: 3px solid #333;
    width:70px;
    height:70px;
    left:-20px;
    top:-20px;
  }
  
  .lines:before, .lines:after {
    content:"";
    position: absolute; 
    border-radius:50%;
    border: 3px solid #333;
    width:70px;
    height:70px;
    top:65px;
    left:60px;
  }
  
  