@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: rgba(192, 141, 192);
    align-items: center;
    justify-content: center;
}

h3 {
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
}

small {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.fa-heart {
    color: red;
}

.loveMe {
    height: 440px;
    width: 350px;
    background: url("https://images.unsplash.com/photo-1641611605871-ae20d4514b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.loveMe .fa-heart {
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
    to {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}