@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Raleway:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pic.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.71);
    box-shadow: 0 0 20px rgb(174, 173, 173);
    border-radius: .5rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 124px;
    left: calc(50% -50px);
}

h1 {
    margin-top: -35px;
    padding: 0 0 20px;
    text-align: left;
    font-size: 35px;
    font-family: 'Advent pro', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Advent pro', sans-serif;
    letter-spacing: 3px;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    border-radius: 30px;
}

.login {
    border-radius: 70px;
    height: 35px;
    border: none;
    font-size: 15px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #fad35de7;
    color: white;
}

.loginbox a {
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #fad35de7;
    transition: 0.6s ease;
}