body
{
    background: black;
}
.first
{
    background-color: #031321;
}
.first a
{
    display: inline-block;  
    position: relative;
    font-size: 24px;
    padding: 15px 30px;
    color:#2196f3;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
    transition: .2s;
}

.third
{
 background: #050801;
 padding: 20px;
 margin: 20px;
 display: flex;
 flex-direction: column;
}

.third a
{
    display: inline-block;  
    position: relative;
    font-size: 24px;
    padding: 15px 30px;
    color:#03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
    transition: .2s;
}

.first a:hover
{
    color:#255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
    transition-delay:1s;
} 

.third a:hover
{
    color:#050801;
    background: #03e9f4;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
    transition-delay:.5s;
} 

a span
{
    position:absolute;
    display: block;
}

a span:nth-child(1)
{
    top:0;
    left:-100%;
    width:100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}
a:hover span:nth-child(1)
{
    left:100%;
    transition: 1s;
 }

a span:nth-child(3)
{
    bottom:0;
    right:-100%;
    width:100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}
a:hover span:nth-child(3)
{
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}
 
a span:nth-child(2)
{
    top:-100%;
    right:0;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(2)
{
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4)
{
    bottom:-100%;
    left:0;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(4)
{
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.third a:nth-child(1)
{
    filter:hue-rotate(290deg);
}
.third a:nth-child(2)
{
    filter:hue-rotate(230deg);
}
.third a:nth-child(3)
{
    filter:hue-rotate(110deg);
}
.third a:nth-child(4)
{
    filter:hue-rotate(0deg);
}
.third a:nth-child(5)
{
    filter:hue-rotate(45deg);
}
.third a:nth-child(6)
{
    filter:hue-rotate(90deg);
}