@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body
{
    background: #222;
    min-height: 200vh;
}
section
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
section .side
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .side#side1
{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
section .side#side2
{
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
section .side video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content
{
    color: #fff;
    padding: 50px;
    margin-top: 150vh;
}
.content h2
{
    font-size: 3em;
}
.content p
{
    font-size: 1.2em;
}
