@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  --principal-font: 'Kumbh Sans', sans-serif;
  --font-size: 12px;

  --bg-gradient: linear-gradient(to bottom, hsl(154, 75%, 66%), hsl(210, 73%, 65%));

  --primary-dark-color: hsl(238, 29%, 16%);
  --primary-soft-color: hsl(143, 88%, 65%);

  --neutral-dark-color: hsl(237, 12%, 33%);
  --neutral-soft-color: hsl(240, 6%, 50%);

}


html {
  box-sizing: border-box;
}
* {box-sizing: inherit;}

.attribution { 
  font-size: 11px; text-align: center; 
  background-color: hsl(240, 5%, 91%);
  padding: 8px 0 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.attribution a { color: hsl(228, 45%, 44%); }

/* global */
/*================================================*/


body {
  margin:0;
  font-family: var(--principal-font);
  font-size: 12px;
  color: var(--neutral-dark-color);

  background: var(--bg-gradient);
  background-size: cover;
}

.card-wrapper {
  min-height: 100vh;
  padding-bottom: 50px; /* footer fixed */
  padding-top: 25px;
}

p {
  margin: 0 0 12px;
  line-height: 1.5;
}

h2 {
  margin: 12px 0;
}


/* generics */
/*================================================*/

.content-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FAQ card */
/*================================================*/

.faq-card {

  background-color: #fff;
  border-radius: 20px;

  max-width: 500px;
  margin-top: 90px;
  
  box-shadow: 0px 60px 50px -25px rgba(0, 0, 0, 0.35);
}

/* FAQ card: imagenes */
/*================================================*/


.faq-ilustrations{
  position: relative;
}

.faq-ilustrations .mobile.ilust{
  position: absolute;
  top:-110px;
  left:-30px;
  right: 0;
}

.mobile{
  display: block;
  margin: 0 auto;
}


/* FAQ card: main */
/*================================================*/

.faq-content {
  padding: 9px 25px 3rem; 
}

.faq-content h1 {
  font-size: 32px;
  text-align: center;
  color: var(--primary-dark-color);
}

.faq-accordion {
  padding: 8px 0;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}


/* FAQ card: main title */
/*================================================*/

/* checkbox tgg-title*/
input.tgg-title {
  appearance: unset;
  all:unset;
}

.faq-accordion-title label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-accordion-title h2{
  font-size: 12px /*var(--font-size)*/;
  font-weight: 400;
  color: var(--neutral-dark-color);
}

.faq-accordion-title span{
  margin-left: auto;
  transition: transform .4s ease-in-out;
}


/* FAQ card: main content */
/*================================================*/

.faq-accordion-content {
  color: var(--neutral-soft-color);
  overflow: hidden;
  max-height: 0;
  transition: max-height .4s ease-in-out;
}


/* Effects */
/*================================================*/

/* main title, accordion title effects */

.faq-accordion-title:hover h2{
  color: var(--primary-soft-color)
}

/* onclick "" */
.faq-accordion .tgg-title:checked + div>label>h2 {
  font-weight: 700;
}

.faq-accordion .tgg-title:checked + div>label>span {
  will-change: transform;
  transform: rotate(180deg);
}

/* main content, acordion text effect */

.faq-accordion .tgg-title:checked ~ .faq-accordion-content{
  will-change: max-height;
  max-height: 80px;
}

