body{
  background-color:#444444;
  margin: 0px;
  overflow: visible;
}
#eye{
  width: 100%;
  height: 200px;
}
#pyramid{
  width: 100%;
  height:400px;
}
#svgs{
  position: absolute;
  width: 100%;
}
#background{
 position: absolute;
	display: inline-block;
	overflow: hidden;
  height: 100%;
	width: 100%;
  background-repeat:repeat;
}

.svg-container {
  position: relative;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 100%;
	width: 100%;
	vertical-align: middle;
}
.svg-container svg {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  .svg-container {
    padding-bottom: 139%;
    width: 112%;
  }
}

@media only screen and (max-width: 600px) {
  .svg-container {
    padding-bottom: 139%;
    width: 140%;
  }
}
@media only screen and (max-width: 500px) {
  .svg-container {
    padding-bottom: 200%;
    width: 200%;
  }
}
