@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.bg {
  background: url("./img/photo.jpg") no-repeat center center/contain;
  position: absolute;
  width: 100vw;
  height: 90vh;
  z-index: -1;
  filter: blur(70px);
}
.loading-text {
  font-size: 50px;
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
