* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
    
}
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}

.mode {
    position: fixed;
    height: 60px;
    bottom: 78px;
    right: 29px;
    /* background-color: #25d366; */
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
}

  
footer .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url("wave.svg");
    background-size: 1600px 200px;
}
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/
*/

footer .wave.wave1 {
    animation: animate-wave 10s linear infinite;
    z-index: 10;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
footer .wave.wave2 {
    animation: animate-wave 5s linear infinite;
    z-index: 9;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
footer .wave.wave3 {
    animation: animate-wave 10s linear infinite;
    z-index: 7;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
footer .wave.wave4 {
    animation: animate-wave 2s linear infinite;
    z-index: 6;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate-wave {
    0% {background-position-x: 0;}
    100% {background-position-x: 1600px;}
}
