body {
  margin: 0;
  padding: 0;
  background: lightgreen;
}
.card {
  width: 22vw;
  height: 64vh;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(2000px);
  transform-style: preserve-3d;
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5),
    0 20px 100px rgba(0, 0, 0, 0.5);
  transition: 1s;
}
.card:hover {
  transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5),
    0 10px 100px rgba(0, 0, 0, 0.5);
}
.card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  left: 0;
  background: #475b02;
  transform-origin: bottom;
  transform: skewX(-45deg);
}
.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #7ea301;
  transform-origin: left;
  transform: skewY(-45deg);
}

img {
  width: 100%;
  height: 100%;
}
.card .imgbox {
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 1s;
  position: relative;
  transform-origin: left;
}
.card:hover .imgbox {
  transform: rotateY(-135deg);
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  z-index: -1;
}

@media screen and (max-width: 1000px) {
  body {
    /*background-color: red;*/
  }
  .card {
    width: 28vw;
    height: 66vh;
  }
}
@media screen and (max-width: 700px) {
  body {
    /*background-color:pink;*/
  }
  .card {
    width: 40vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 60%;
  }
}
.details span {
  display: none;
}
@media screen and (max-width: 500px) {
  body {
    background-color: lightgreen;
  }
  .card {
    width: 48vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 60%;
  }
  .card:hover {
    position: absolute;
    left: 70%;
  }
  p {
    font-size: 0.8rem;
  }
}
