@import url('https://fonts/googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.planet{
    display: flex;
    flex-direction: column;

}
.planet h2{
    color: white;
    font-size: 4em;
    margin-bottom: 40px;
    font-weight: 600;
}
.planet .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0002);
}
.planetEarth{
    position: relative;
    min-width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}
.planetEarth .loader{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.planetEarth .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.planetEarth .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9,
                0 0 20px #00fff9,
                0 0 30px #00fff9,
                0 0 40px #00fff9,
                0 0 50px #00fff9,
                0 0 60px #00fff9,
                0 0 70px #00fff9,
                0 0 80px #00fff9,
                0 0 90px #00fff9,
                0 0 100px #00fff9;
}
.planetEarth .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
}
.earth{
    position: absolute;
    width: 340px;
    height: 340px;
    background: url(Earth.jpeg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4,
                0 0 60px #03a9f4;
    animation: animateEarth 20s linear infinite;
}

@keyframes animateEarth{
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: 162.5%;
    }
}












.planetMercury{
    position: relative;
    min-width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: grey;
}
.planetMercury .loader{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.planetMercury .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(105, 105, 105));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.planetMercury .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px grey,
                0 0 20px grey,
                0 0 30px grey,
                0 0 40px grey,
                0 0 50px grey,
                0 0 60px grey,
                0 0 70px grey,
                0 0 80px grey,
                0 0 90px grey,
                0 0 100px grey;
}
.planetMercury .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: grey;
    border-radius: 50%;
}
.mercury{
    position: absolute;
    width: 340px;
    height: 340px;
    background: url(Mercury.jpeg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px silver,
                0 0 120px silver;
    animation: animatemercury 6s linear infinite;
}

@keyframes animatemercury{
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: -340px;
    }
}