@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.planet{
    display: flex;
    flex-direction: column;
}
.planet h2{
    color: #fff;
    font-size: 4rem;
    margin-bottom: 40px;
    font-weight: 600;
}
.planet .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.planetEarth{
    position: center;
    min-width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #182357;
}
.planetEarth .loader{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.planetEarth .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.planetEarth .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #00ff99;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00ff99,
                0 0 20px #00ff99,
                0 0 30px #00ff99,
                0 0 40px #00ff99,
                0 0 50px #00ff99,
                0 0 60px #00ff99,
                0 0 70px #00ff99,
                0 0 80px #00ff99,
                0 0 90px #00ff99,
                0 0 100px #00ff99;
}
.planetEarth .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
}
.earth{
    position: fixed;
    width: 340px;
    height: 340px;
    background: url(earth.jpeg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4,
                      0  0 120px #03a9f4;
    animation: animateEarth 20s linear infinite;
}
@keyframes animateEarth {
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: 162.5%;
    }
}




.planetMercury{
    position: center;
    min-width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #182357;
}
.planetMercury .loader{
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.planetMercury .loader::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.planetMercury .loader::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #00ff99;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00ff99,
                0 0 20px #00ff99,
                0 0 30px #00ff99,
                0 0 40px #00ff99,
                0 0 50px #00ff99,
                0 0 60px #00ff99,
                0 0 70px #00ff99,
                0 0 80px #00ff99,
                0 0 90px #00ff99,
                0 0 100px #00ff99;
}
.planetMercury .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
}
.mercury{
    position: absolute;
    width: 320px;
    height: 320px;
    background: url(Mercury.jpeg);
    border-radius: 45%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4,
                      0  0 140px #03a9f4;
    animation: animateEarth 20s linear infinite;
}
@keyframes animateEarth {
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: 162.5%;
    }
}